__pycache__/
*.pyc
# imagens do jogo (Capcom): ficam só na sua máquina
web/icons/*
!web/icons/LEIA-ME.txt
switch/build/
switch/*.elf
switch/*.nacp
switch/*.nro
switch/*.map
# certificado HTTPS gerado localmente na 1a execucao
certs/
